#main.container
  %h3.header Users Registered for #{@event.title}

  %table.registrees_table
    %thead
      %tr
        %th Name
        %th Classification

    %tbody
      -@registrees.each do |p|
        %tr.registree
          %td.name= link_to "#{p.user.name}", user_path(p.user)
          -#TODO:need to add check or require it if going to capitalize
          %td.classification= "#{p.user.classification}"

  %p= link_to "Back to Event", event_path(@event)
