#main.container
  %h3 All Users:
  %table.table.table-responsive.table-bordered
    %thead.thead-light
      %tr
        %th Name
        %th Email
        %th Classification
        %th Total Points Earned

    %tbody
      -@users.each do |u|
        %tr.eventbody
          %td= link_to "#{u.name}", user_path(u)
          %td= "#{u.email}"
          %td= "#{u.classification}"
          %td= "#{u.tpoints}"
