#main.container
  -if @user.admin
    %span.small-text-span Admin
<<<<<<< HEAD
  %td.image-responsive= image_tag @user.image.url
  %h2.profileheader #{@user.name}
=======
  %td.image= image_tag @user.image.url
  %h2.strong #{@user.name}
>>>>>>> 301ebfe0f9766f9beea861e8024897b05a7333f4
  .row
    %strong.col-sm-3 Email Address: #{@user.email}
    %strong.col-sm-3 Classification: #{@user.classification}
    %strong.col-sm-3 Points Earned: #{@user.tpoints}
    -if @signed_in
      %strong.col-sm-3= link_to "Edit profile", edit_user_path(@user)
  -if current_user.admin && !@user.admin
    =form_for @user, :method => :patch do |f|
      =f.radio_button :admin, true, :checked => true
      =f.submit "Add user as admin"


  %h3.header Events Registered For:
  %table.table.table-responsive.table-bordered
    %thead.thead-light
      %tr
        %th Title
        %th DateTime
        %th Location
        -if @signed_in
          %th Summary
    %tbody
      -@user.registrees.each do |p|
        %tr.registree
          -if !summary_submitted?(@user,p.event.occurrences.next)
            %td.title= link_to "#{p.event.title}", event_path(p.event)
            %td.date_time= "#{p.event.occurrences.next.date_time.try(:to_formatted_s, :custom_long_ordinal)}"
            %td.location= "#{p.event.location}"
            -if @signed_in
              %td.summake= link_to "Submit Event Summary", new_occurrence_attendee_path(:occurrence_id => p.event.occurrences.next.id)
  -if @signed_in || check_admin
    %h3.header Events Attended:
    %table.table.table-responsive.table-bordered
      %thead.thead-light
        %tr
          %th Title
          %th DateTime
          %th Location
          %th View Summary
          -if @signed_in
            %th Edit Summary
      %tbody
        -@user.registrees.each do |p|
          %tr.registree
            -if @signed_in && summary_submitted?(@user,p.event.occurrences.next)
              %td.title= link_to "#{p.event.title}", event_path(p.event)
              %td.date_time= "#{p.event.occurrences.next.date_time.try(:to_formatted_s, :custom_long_ordinal)}"
              %td.location= "#{p.event.location}"
              %td.summary= link_to "View Event Summary", occurrence_attendee_path(:occurrence_id => p.event.occurrences.next.id,:attendee_id =>@user.find_attendee(p.event.occurrences.next).id)
              -if @signed_in
                %td.sumedit= link_to "Edit Event Summary", edit_occurrence_attendee_path(:occurrence_id => p.event.occurrences.next.id,:attendee_id => @user.find_attendee(p.event.occurrences.next).id)
