#main.container
  %h3.profileheader #{@user.name}
  %p.profilecontent Email Address: #{@user.email}
  -#TODO need to add check or require it if going to capitalize
  -#%p.profilecontent Classification: #{@user.classification.capitalize}
  %p.profilecontent Points Earned: #{@user.tpoints}

  %h3.header Events Participated In:

  %table.participants_table
    %thead
      %tr
        %th Title
        %th DateTime
        %th Location

    %tbody
      -@user.participants.each do |p|
        %tr.participant
          %td.title= "#{p.event.title}"
          %td.date_time= "#{p.event.date_time}"
          %td.location= "#{p.event.location}"
          -#%td.delete= link_to "Cancel attending this event", event_participant_path(p.event,p)
  %p= link_to "Back to Main Events Page", root_path
