#main.container
  %h3.profileheader #{@user.name}
  %p.profilecontent Email Address: #{@user.email}
  -#TODO need to add check or require it if going to capitalize
  -#%p.profilecontent Classification: #{@user.classification.capitalize}
  %p.profilecontent Points Earned: #{@user.tpoints}

  %h3.header Events Registered For:

  %table.registrees_table
    %thead
      %tr
        %th Title
        %th DateTime
        %th Location

    %tbody
      -@user.registrees.each do |p|
        %tr.registree
          %td.title= link_to "#{p.event.title}", event_path(p.event)
          %td.date_time= "#{p.event.occurrences.next.date_time.try(:to_formatted_s, :custom_long_ordinal)}"
          %td.location= "#{p.event.location}"
          -#%td.delete= link_to "Cancel attending this event", event_participant_path(p.event,p)
          -if current_user.id == @user.id && summary_submitted?(@user,p.event.occurrences.next)
            %td.summary= link_to "View Event Summary", occurrence_attendee_path(:occurrence_id => p.event.occurrences.next.id,:attendee_id =>@user.find_attendee(p.event.occurrences.next).id)
          -if current_user.id == @user.id && !summary_submitted?(@user,p.event.occurrences.next)
            %td.summary= link_to "Submit Event Summary", new_occurrence_attendee_path(:occurrence_id => p.event.occurrences.next.id)
          

