#main.container
  %div.jumbotron
    %h1 Summary for Event #{@event.title}
  
  %h2 #{@event.title} Details
  %div.event_details
    %p Location: #{@event.location}
    %p Points: #{@event.points}
    %p Description: #{@event.description}

  %table.table
    %thead
      %tr 
        %th Summary Description 

    %tbody
      %td.sum_descript= "#{@attendee.summary}"
  %p=link_to "See Event Page", event_path(@event)    
