#main.container
  %h3 All Events:

  %h4 Recurring Events:
  %table.table.table-responsive.table-bordered
    %thead.thead-light
      %tr
        %th Title
        %th Date and Time
        %th Location
        %th Points Value
        %th Description

    %tbody
      -@events_recurring.each do |event|
        %tr.eventbody
          %td.title= link_to "#{event.title}", event_path(event)
          %td.date_time= "#{event.occurrences.first.date_time.try(:to_formatted_s, :custom_long_ordinal)}"
          %td.location= "#{event.location}"
          %td.points= "#{event.points}"
          %td.description= truncate(event.description, length: 60)
  %br
  %h4 Non-recurring Events:
  %table.table.table-responsive-lg.table-bordered
    %thead.thead-light
      %tr
        %th Title
        %th Date and Time
        %th Location
        %th Points Value
        %th Description

    %tbody
      -@events_nonrecurring.each do |event|
        %tr.eventbody
          %td.title= link_to "#{event.title}", event_path(event)
          %td.date_time= "#{event.occurrences.first.date_time.to_formatted_s(:custom_long_ordinal)}"
          %td.location= "#{event.location}"
          %td.points= "#{event.points}"
          %td.description= truncate(event.description, length: 60)
