#main.container
  %h3.header Upcoming Events:

  %h3.recurringheader Recurring Events:
  %table.recurring_events_table
    %thead
      %tr.eventheaders
        %th Title
        %th Date and Time
        %th Location
        %th Points Value
        %th Description

    %tbody
      -@events_recurring.each do |event|
        %tr.eventbody
          %td.title= link_to "#{event.title}", event_path(event)
          %td.date_time= "#{event.date_time.to_formatted_s(:custom_long_ordinal)}"
          %td.location= "#{event.location}"
          %td.points= "#{event.points}"
          %td.description= truncate(event.description, length: 60)
  %br
  %h3.recurringheader Non-recurring Events:
  %table.nonrecurring_events_table
    %thead
      %tr.eventheaders
        %th Title
        %th Date and Time
        %th Location
        %th Points Value
        %th Description

    %tbody
      -@events_nonrecurring.each do |event|
        %tr.eventbody
          %td.title= link_to "#{event.title}", event_path(event)
          %td.date_time= "#{event.date_time.to_formatted_s(:custom_long_ordinal)}"
          %td.location= "#{event.location}"
          %td.points= "#{event.points}"
          %td.description= truncate(event.description, length: 60)


  %p= link_to "Add New Event", new_event_path
