#main.container
  %h3.header #{@event.title}

  %p.content Date and Time: #{@event.date_time}
  %p.content Location: #{@event.location}
  %p.content Recurring Event? #{@event.recurring ? "Yes" : "No"}
  %p.content About #{@event.title}: #{@event.description}

  %p= link_to "Back to Main Events Page", root_path
