#main.container
  %h3.header #{@event.title}

  %p.content Date and Time: #{@event.occurrences.first.date_time.to_formatted_s(:custom_long_ordinal)}
  %p.content Location: #{@event.location}
  %p.content Recurring Event? #{@event.recurring ? "Yes" : "No"}
  %p.content Points Value: #{@event.points}
  %p.content About #{@event.title}: #{@event.description}

  %p=link_to 'Register for this Event', event_registrees_path(@event),:method => :post
  %p=link_to 'Edit event details', edit_event_path(@event)
  %p=link_to 'Delete event', event_path(@event), :method => :delete

  %p=link_to "View Registrees", event_registrees_path(@event)
