!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Sustain
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #header
    %a.logo{ :href => events_path}= image_tag("sus_logo.jpg", :width => 500)
    %h1.title Colgate Sustainability Passport Program
    %p.sign_in= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path
    %p.sign_out= link_to "Sign out", destroy_user_session_path, :method => :delete
    -if flash[:notice] || flash[:error] || flash[:alert]
      .flash
        -if flash[:notice]
          .alert.alert-info= flash[:notice]
        -if flash[:error]
          .alert.alert-danger= flash[:error]
        -if flash[:alert]
          .alert.alert-warning= flash[:alert]
    = yield
