!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Colgate Sustainability Passport Program
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'favicon.ico'
  %body
    #header
    %h3.title Colgate Sustainability Passport Program
    %div.navbar
      %a.logo{ :href => events_path}= image_tag("sus_logo.jpg", :height => 50)
      %t= link_to "Events", events_path
      %t= link_to "All Events", all_path
      %t= link_to "Leaderboard", leaderboard_path
      %t= link_to "About the Program", about_path
      -if user_signed_in?
        %t.name= link_to "#{current_user.name}", user_path(current_user)
        %t.sign_out= link_to "Sign out", destroy_user_session_path, :method => :delete
      -else
        %t.sign_in= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path
    -if flash[:notice] || flash[:error] || flash[:alert]
      .flash
        -if flash[:notice]
          .alert.alert-info= flash[:notice]
        -if flash[:error]
          .alert.alert-danger= flash[:error]
        -if flash[:alert]
          .alert.alert-warning= flash[:alert]
    = yield
    %footer.fixed-bottom.green-background
      %div.footer.text-center
        %f.main Colgate Sustainability Passport Program
        %br
        %f= link_to "Home", events_path, {:class => "text-white"}
        %f.text-white •
        %f= link_to "About Us", about_path, {:class => "text-white"}
        %f.text-white •
        %f= link_to "Contact Us", contact_path, {:class => "text-white"}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
